@import "../../app.scss";

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .skillsTextContainer{
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;


    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid white;
      opacity: 0.5;


    }

    p{
      margin-left: 50px;
      margin-right: 10px;
      padding: 5px;
      font-weight: 200;
      font-size: 15px;
      color: white;
      text-align: right;
      opacity: 0.5;


    }

  }


  .skillsTitleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;


    .title {
      display: flex;
      gap: 50px;
      align-items: center;


      h1 {
        font-size: 96px;
        font-weight: 100;
        letter-spacing: 3px;
        opacity: 0.9;
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: #9a0101;
        border: none;
        font-size: 24px;
        cursor: pointer;

      }


    }
  }

  .skillsListContainer {
    flex: 2;
    display: flex;
    justify-content: space-around;
    max-width: 1366px;
    gap: 150px;
    margin: auto;

    .box {
      font-size: 17px;
      font-weight: 200;
      display: flex;
      max-width: 350px;
      flex-direction: column;
      gap: 10px;
      word-wrap: break-word;



      h2 {
        margin-right: 20px;

      }




    }

  }

}

//Media Queries for responsive


//////////////////
      /* 320px - 375px -> extra small  */
//////////////////

//width 320px - 375px     height 0px - 330px
@media ((319px < width < 376px) and (height < 331px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      gap: 20px;
      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

         display: none;
        }

      }
    }

  }


}

//width 320px - 375px     height 331 px - 450px
@media ((319px < width < 376px) and (330px < height < 451px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 18px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 200px;
      gap: 20px;
      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 20px;
        }
        p {

          display: none;
        }

      }
    }

  }


}

//width 320px - 375px     height 451 px - 639px
@media ((319px < width < 376px) and (450px < height < 640px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 116px;
      margin-bottom: 18px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 200px;
      gap: 20px;
      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 20px;
        }
        p {

          display: none;
        }

      }
    }

  }


}

//width 320px - 375px     height  640px - 700px
@media ((319px < width < 376px) and (639px < height < 701px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 50px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 60px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 260px;
      gap: 30px;
      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

//width 320px - 375px     height  701px - 853px
@media ((319px < width < 376px) and (700px < height < 854px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 90px;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-bottom: 40px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 260px;
      gap: 30px;
      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

//width 320px - 375px     height  854px - 1024px
@media ((319px < width < 376px) and (853px < height < 1025px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        display: none;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      margin-top: 70px;
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 200px;
      gap: 30px;

      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

@media ((319px < width < 376px) and (height > 1024px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        display: none;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      margin-top: 70px;
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 200px;
      gap: 30px;

      .box {
        margin-left: 20px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}


//////////////////
/* 320 - 375 -> small  */
//////////////////

//width 376px - 480px     height 0px - 330px
@media ((375px < width < 481px) and (height < 331px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 36px;
      gap: 15px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {
          display: none;
        }

      }
    }

  }


}

//width 376px - 480px     height  331 px - 450px
@media ((375px < width < 481px) and (330px < height < 451px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        font-size: 15px;
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 80px;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 120px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          display: none;
        }

      }
    }

  }


}

//width 376px - 480px     height  451px - 639px
@media ((375px < width < 481px) and (450px < height < 640px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 70px;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 120px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {
          display: none;
        }

      }
    }

  }


}

//width 376px - 480px     height  640px - 700px
@media ((375px < width < 481px) and (639px < height < 701px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        font-size: 15px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 120px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

//width 376px - 480px     height  701px - 853px
@media ((375px < width < 481px) and (700px < height < 854px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        font-size: 15px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 100px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

//width 376px - 480px     height  854px - 1024px
@media ((375px < width < 481px) and (853px < height < 1025px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        font-size: 15px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 90%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 100px;
      gap: 70px;
      .box {
        gap: 10px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}

@media ((375px < width < 481px) and (height > 1024px)) {


  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        font-size: 15px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 90%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 180px;
      gap: 70px;
      .box {
        gap: 10px;
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }


}



//////////////////
///* 481px - 768px -> medium  */
//////////////////

//width 481px - 767px     height 0px - 330px
@media ((480px < width < 768px) and (height < 331px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        display: none;
      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 30px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 24px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box {

        align-items: center;
        h2 {
          font-size: 20px;
        }
        p {
          display: none;
        }

      }
    }

  }

}

//width 481px - 767px     height  331 px - 450px
@media ((480px < width < 768px) and (330px < height < 451px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        display: none;
      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 30px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 24px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box {

        align-items: center;
        h2 {
          font-size: 20px;
        }
        p {
          display: none;
        }

      }
    }

  }

}

//width 481px - 767px      height  451px - 639px
@media ((480px < width < 768px) and (450px < height < 640px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 120px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {
          width: 140%;
          font-size: 16px;
        }

      }
    }

  }

}

//width 481px - 767px      height  640px - 700px
@media ((480px < width < 768px) and (639px < height < 701px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 100px;
      }
      p {
        display: none;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 20px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 120px;
      gap: 30px;
      .box {
        width: 80%;
        align-items: center;
        h2 {
          font-size: 18px;
        }
        p {
          width: 100%;
          font-size: 16px;
        }

      }
    }

  }

}

//width 481px - 767px      height  701px - 853px
@media ((480px < width < 768px) and (700px < height < 854px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 16px;
        margin-left: 76px;
      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 32px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 40px;
      margin-bottom: 160px;
      .box {
        align-items: center;
        h2 {
          font-size: 24px;
        }

      }
    }

  }

}

//width 481px - 767px     height  854px - 1024px
@media ((480px < width < 768px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 60px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 90%;
          padding-top: 40px;
          font-size: 36px;
        }
        button {
          width: 150px;
          height: 50px;
          font-size: 12px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 220px;
      gap: 40px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 24px;
        }
        p {

          font-size: 16px;
        }

      }
    }

  }

}

//width 481px - 767px      height  1024px - n
@media ((480px < width < 768px) and (height > 1024px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 40px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 80%;
          padding-top: 40px;
          font-size: 36px;
        }
        button {
          width: 200px;
          height: 70px;
          font-size: 16px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 200px;
      gap: 60px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 30px;
        }
        p {

          font-size: 20px;
        }

      }
    }

  }

}




//////////////////
///* 481px - 768px -> medium large  */
//////////////////

//768px - 1024px        height  0px - 639px
@media ((767px < width < 1025px) and (height < 600px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 24px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 120px;
      gap: 40px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 22px;
        }
        p {
          display: none;
        }

      }
    }

  }

}

//768px - 1024px       height  640px - 700px
@media ((767px < width < 1025px) and (599px < height < 701px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          width: 150px;
          height: 50px;
          font-size: 12px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 120px;
      gap: 40px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 22px;
        }
        p {

          font-size: 16px;
          width: 140%;
        }

      }
    }

  }

}

//768px - 1024px      height  701px - 853px
@media ((767px <= width <= 1023px) and (700px < height < 854px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 36px;
        }
        button {
          width: 150px;
          height: 50px;
          font-size: 12px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 120px;
      gap: 50px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 26px;
        }
        p {

          font-size: 16px;
          width: 140%;
        }

      }
    }

  }

}

//768px - 1024px     height  854px - 1024px
@media ((767px <= width <= 1023px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 46px;
        }
        button {
          width: 200px;
          height: 70px;
          font-size: 16px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 100px;
      gap: 50px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 28px;
        }
        p {

          font-size: 20px;
          width: 160%;
        }

      }
    }

  }

}

//768px - 1024px     height  1025px - 1280px
@media ((767px <= width <= 1023px) and (1024px < height < 1281px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 50px;
        }
        button {
          width: 200px;
          height: 70px;
          font-size: 16px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 200px;
      gap: 50px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 28px;
        }
        p {

          font-size: 22px;
          width: 160%;
        }

      }
    }

  }

}

//768px - 1024px     height  1281px - 1366px
@media ((767px <= width <= 1023px) and (1280px < height < 1367px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 50px;
        }
        button {
          width: 200px;
          height: 70px;
          font-size: 16px;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 150px;
      gap: 70px;
      .box {
        align-items: center;
        margin-left: 10px;
        gap: 20px;
        h2 {
          font-size: 28px;
        }
        p {

          font-size: 24px;
          width: 160%;
        }

      }
    }

  }

}



//////////////////
///* 1024px - 1281px -> large  */
//////////////////


//768px - 1024px        height  0px - 639px
@media ((1024px < width < 1281px) and (height < 600px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 120px;
      gap: 40px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 22px;
        }
        p {
          display: none;
        }

      }
    }

  }

}

//1025px - 1280px    height  640px - 700px
@media ((1024px < width < 1281px) and (599px < height < 701px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 100%;
          font-size: 50px;

        }
        button {
          width: 250px;
          height: 70px;
          font-size: 20px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          margin-right: 60px;
          align-self: center;
        }
        p {


        }

      }
    }

  }

}

//1025px - 1280px    height  701px - 853px
@media ((1024px < width < 1281px) and (700px < height < 854px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 100%;
          font-size: 50px;

        }
        button {
          width: 250px;
          height: 70px;
          font-size: 20px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          margin-right: 60px;
          align-self: center;
        }
        p {


        }

      }
    }

  }

}

//1025px - 1280px    height  854px - 1024px
@media ((1024px < width < 1281px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 48px;

        }
        button {
          width: 250px;
          height: 70px;
          font-size: 20px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          margin-right: 60px;
          align-self: center;
        }
        p {


        }

      }
    }

  }

}

//1025px - 1280px    height  1025px - 1280px
@media ((1024px < width < 1281px) and (1024px < height < 1281px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
        margin-top: 50px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 48px;

        }
        button {
          width: 250px;
          height: 70px;
          font-size: 20px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 40px;
      flex-direction: column;
      margin-bottom: 50px;
      gap: 100px;

      .box {


        h2 {

          margin-right: 30px;
          align-self: center;
        }
        p {
          width: 100%;
          font-size: 24px;
        }

      }
    }

  }

}



//////////////////
///* 1281px - 1366px -> extra large  */
//////////////////

//768px - 1024px        height  0px - 639px
@media ((1280px < width < 1367px) and (height < 600px)) {

  .skills {
    .skillsTextContainer{
      align-self: center;
      text-align: center;
      flex-direction: column;
      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      width: 100%;
      margin-bottom: 20px;
      .title {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        h1 {
          width: 100%;
          padding-top: 40px;
          font-size: 30px;
        }
        button {
          display: none;
        }
      }
    }

    .skillsListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 120px;
      gap: 40px;
      .box {
        align-items: center;
        margin-left: 10px;
        h2 {
          font-size: 22px;
        }
        p {
          display: none;
        }

      }
    }

  }

}

//1281px - 1366px  height  height  640px - 700px
@media ((1280px < width < 1367px) and (639px < height < 701px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      margin-top: 50px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 60px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      gap: 100px;
      padding: 40px;

      .box {


        h2 {

          margin-right: 30px;
          align-self: center;
        }
        p {
          width: 100%;
          font-size: 18px;
        }

      }
    }

  }

}

//1281px - 1366px  height  height  701px - 853px
@media ((1280px < width < 1367px) and (700px < height < 854px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      margin-top: 50px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 60px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      gap: 100px;
      padding: 40px;

      .box {


        h2 {

          margin-right: 30px;
          align-self: center;
        }
        p {
          width: 100%;
          font-size: 18px;
        }

      }
    }

  }

}

//1281px - 1366px  height  height  854px - 1024px
@media ((1280px < width < 1367px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      margin-top: 50px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 60px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      gap: 100px;
      padding: 40px;

      .box {


        h2 {

          margin-right: 30px;
          align-self: center;
        }
        p {
          width: 100%;
          font-size: 18px;
        }

      }
    }

  }

}

//1281px - 1366px  height  height  1025px - 1280px
@media ((1280px < width < 1367px) and (1024px < height < 1281px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      margin-top: 50px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        h1 {
          width: 100%;
          font-size: 48px;

        }
        button {
          width: 250px;
          height: 70px;
          font-size: 20px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 40px;
      flex-direction: column;
      margin-bottom: 50px;
      gap: 100px;

      .box {


        h2 {

          margin-right: 30px;
          align-self: center;
        }
        p {
          width: 100%;
          font-size: 22px;
        }

      }
    }

  }

}


//////////////////
///* 1366px - 1681px -> super large  */
//////////////////
@media ((1366px < width < 1681px) and (height < 854px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
      margin-top: 100px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 80%;
          font-size: 70px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}

@media ((1366px < width < 1681px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {
        margin-top: 100px;
      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 80%;
          font-size: 70px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}

@media ((1366px < width < 1681px) and (1024px < height < 1281px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        margin-top: 100px;

        h1 {
          width: 80%;
          font-size: 70px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;
      margin-top: 100px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}



//////////////////
///* 1681px - 1919px -> super extra large  */
//////////////////

@media ((1680px < width < 1920px) and (height < 854px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 80%;
          font-size: 90px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      margin-top: 50px;
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}
//1681px - 1919px
@media ((1680px < width < 1920px) and (853px < height < 1025px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        padding: 20px;

        h1 {
          width: 80%;
          font-size: 90px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      margin-top: 50px;
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}

@media ((1680px < width < 1920px) and (1024px < height < 1281px)) {

  .skills {
    .skillsTextContainer{

      hr {
        width: 200px;
      }
      p {
        font-size: 20px;

      }

    }

    .skillsTitleContainer {

      .title {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        margin-top: 100px;

        h1 {
          width: 80%;
          font-size: 90px;

        }
        button {
          width: 300px;
          height: 100px;
          font-size: 24px;
        }
      }
    }

    .skillsListContainer {
      width: 100%;
      justify-content: space-around;
      padding: 40px;

      .box {

        h2 {
          font-size: 24px;
          margin-right: 50px;
          align-self: center;
        }
        p {
          font-size: 18px;

        }

      }
    }

  }

}